*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
        font-family: "poppins", sans-serif;}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(./WhatsApp\ Image\ 2025-11-04\ at\ 19.26.53_189f5556.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;



}
.you{
    background: transparent;
    border: 2px solid rgb(255, 255, 255,.2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgb(0, 0, 0 ,.2);
    width: 420px;
    color: aliceblue;
    border-radius: 10px;
    padding: 30px 40px;
}
.you h1 {
    font-size: 35px;
    text-align: center;
}
.you .ouu{
    position:relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}
.you input{
    width:100% ;
    height:100% ;
    background:transparent;
    border: none;
    outline: none;
    border: 2px solid rgb(255, 255, 255,.2);
    border-radius: 40px;
    font-size: 17px;
    color: #fff;
    padding: 20px 45px 20px 20px ;
}
.you input::placeholder{
    color: #fff;

}
.ouu i{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}
.you .forget{
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}
.forget label input {
    color: #fff;
  width: 20px;
  height: 10px;

}
.forget a {
    color: #fff;
    text-decoration: none;

}
.forget a:hover {
    text-decoration:underline;
}
.you .butt{
    width:100% ;
    height: 45px;
    background-color: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgb(0,0,0 ,.1 );
    cursor: pointer;
    font-size: 16px;
    color: #000000;
    font-weight: 600;
    
}

.you .link{
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px ;
}
.link p a{
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}
.link p a:hover {
    color: #fff;
    text-decoration: underline;
    font-weight: 600;
}